body {
  font-family: "Open sans";
  font-weight: 300;
  text-align: center;
}

header {
  background-color:#404041;
  font-size:50px;
  padding:15px;
  margin-bottom: 25px;
}

h1 {
  font-size: 32px;
  color:#E6E7E8;
  padding:10px;
}

h1 span {
  font-weight: 700;
  color: #ED458B;
}

button {
  background-color: #929497;
  border-radius: 25px;
  width:100px;
  margin:10px;
  color:#FFFFFF;
}

#guess-field {
  display: block;
  height: 25px;
  font-family:"Open sans";
  font-weight:300;
  font-size: 16pt;
  margin: auto;
  padding-left: 5px;
}

.guess-button:hover{
  background-color:#EB008B;
}

/* add for JS to disable/enable
clear button
.clear-button:disabled{
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff
}
*/
section {
  margin: 20px;
}

p {
  color:#404041;
  font-size: 20px;
}

#your-last-guess{
  color:#404041;
}

#last-guess {
  font-size:125pt;
  color:#EB008B;
}

.res-button{
  width: 225px;
}
